
@{
    ViewBag.Title = "ReaderFunction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/simple-sidebar.css" rel="stylesheet" />

<style>
    
</style>

<div class="sidenav" id="readerLeftMenu">
    <button class="btn btn-link linkBtn" id="btnSearchBook" onclick="BtnOnClick(this.id)">Search Book</button>
    <button class="btn btn-link linkBtn" id="btnBook" onclick="BtnOnClick(this.id)">Search Book</button>
    @Html.ActionLink("Search Book", "SearchBook", "ReaderFunction")
    @Html.ActionLink("Book Checkout", "SearchBook", "ReaderFunction")
    @Html.ActionLink("Book Return", "SearchBook", "ReaderFunction")
    @Html.ActionLink("Book reserve", "SearchBook", "ReaderFunction")
    @Html.ActionLink("Compute Fine", "SearchBook", "ReaderFunction")
    @Html.ActionLink("Reserved Book", "SearchBook", "ReaderFunction")
    @Html.ActionLink("Print Books List", "SearchBook", "ReaderFunction")
    @Html.ActionLink("Quit", "SearchBook", "ReaderFunction")
</div>
<div class="main">
    <h2 id="userMsg"></h2>
    <div id="mainContent">
        
    </div>
</div>

<script>
    var isUserValid = false;

    $(document).ready(function () {
        var readerId = prompt('Please Enter Reader ID');
        var userData = { 'data': readerId };
        var siteURL = "@Url.Action("IsUserValid", "ReaderFunction")";

        function callbackSuccess(response) {
            if (response.readerid) {
                checkValidUser(true);
                $('#userMsg').html(`Hey, ${response.name}.`);
            } else {
                checkValidUser(false);
                $('#userMsg').html('Please enter valid Reader Id to proceed further.');
            }
        }

        function callbackError(response) {
            checkValidUser(false);
            console.error('Error Found at RaderFunction.cshtml -> document.ready part: ' + JSON.stringify(response));
        }

        ajaxPOST(siteURL, userData, callbackSuccess, 'Reader Function', callbackError);
    });

    function checkValidUser(isValid) {
        if (isValid == true) {
            $('#readerLeftMenu').children('a').attr('href');
            $('#readerLeftMenu').children('a').css('pointer-events', 'auto');
        } else {
            $('#readerLeftMenu').children('a').removeAttr('href');
            $('#readerLeftMenu').children('a').css('pointer-events', 'none');
        }
    }

    function BtnOnClick(btnId) {
        switch (btnId) {
            case "btnSearchBook":
                var siteURL = "@Url.Action("SearchBook", "ReaderFunction")";

                function callbackSuccess(response) {
                    $('#mainContent').html(response);
                }

                function callbackError(res) {
                    console.error(res);
                }

                ajaxGet(siteURL, null, callbackSuccess, callbackError);
                break;
        }
    }
</script>